* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1350px;
  font-family: sans-serif;
}

/* utility selector */
.fixed{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: +100;
}

.container {
  width: 1350px;
  margin: auto;
}

header .bg_lightblue {
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
  position: relative;
}
.bg_lightblue {
  background-color: #F4F9FD;
}

.bg_white {
  background-color: white;
}

.bg_pink {
  background-image: url(../img/jumbotron.png);
  background-color: #FEF6EF;
  background-position: right;
  background-repeat: no-repeat;
}

.bg_water {
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

.bg_gradient {
  background-color: #47ACB7;
  color: white;
  text-align: center;
}

.bg_grey {
  background-color: #32495B;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

a {
  text-transform: capitalize;
  text-decoration: none;
  color: #32495B;
  font-size: 14px;
  font-weight: 350;
  padding: 0 10px;
  line-height: 80px;
}

a:hover {
  text-decoration: underline;
  color: #06A4BD;

}

a i {
  padding-left: 10px;
  text-align: center;
}

.btn_orange {
  color: white;
  background-color: #FE785A;
  border-radius: 5px;
  padding: 20px 40px;
}

.btn_orange:hover{
  background-color: rgba(255, 0, 0, 0.5);
  text-decoration: none;
  color: white;
}

.little_icon {
  height: 100px;
}
/* utility selector */

/* navigation */
.navbar_top {
  height: 80px;
}

.left_top_menu {
  width: 30%;
}

.right_top_menu {
  width: 70%;
  text-align: right;
}

.navbar_menu {
  margin-top: 80px;
  height: 80px;
  position: relative;
}

.logo_nav {
width: 40%;
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.nav_menu {
  width: 60%;
  text-align: right;
}

#world_icon {
  padding-right: 10px;
  padding-left: 0px;
}

#search_icon {
  color: #06A4BD;
}

.btn_border {
  color: #FE785A;
  border: 1px solid #FE785A;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px;
}

nav .btn_orange {
  color: white;
  background-color: #FE785A;
  border-radius: 5px;
  padding: 10px;
}
/* navigation */

/* header */
.hero_header {
  height: 610px;

}

.hero_text {
  width: 665px;
  padding-top: 60px;
}

.hero_text h1 {
  color: #32495B;
  font-size: 50px;
  margin-bottom: 30px;
}

.hero_text p {
  color: #32495B;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 30px;
}

.hero_text h6 {
  color: #32495B;
  font-size: 12px;
  font-weight: lighter;
  margin-top: 30px;
}

.bottom_header {
  height: 80px;
}
/* header */

/* main section service */
.shadow_box {
  box-shadow: 2px 2px 2px grey;
  border-radius: 10px;
}
.service .row_1 {
  height: 415px;
  width: 50%;
  text-align: center;
  padding-top: 50px;
}

.service .row_2 {
  height: 365px;
  padding-top: 75px;
}

.service .row_3 {
  height: 655px;
  text-align: center;
}

.service .col_lateral {
  width: 30%;
  height: 655px;
  margin: 50px 0;
  padding-top: 25px;
}

.service .col_center {
  width: 30%;
  height: 655px;
  margin: 50px;
  padding-top: 25px;
}

#cubo {
  height: 190px;
}

.service .row_1 h2 {
  color: #33475B;
  font-size: 32px;
  margin-bottom: 30px;
}

.service .row_1 p {
  color: #33475B;
  line-height: 30px;
}

#col_free_hubspot {
  width:30%;
  text-align: center;
}

.col_crm {
  width: 60%;
  padding-left: 40px;
}

.col_crm h3 {
  color: #33475B;
  font-size: 24px;
  margin-bottom: 30px;
}

.col_crm p {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  color: #33475B;
  margin-bottom: 30px;
}

.col_crm h4 {
  display: inline-block;
  vertical-align: middle;
  color: #33475B;
}

.col_crm hr {
  margin-left: 80px;
  width:60%;
  display: inline-block;
}

.check_icon {
  background-color: #FE785A;
  color: white;
  padding: 2px;
  border-radius: 10px;
  margin: 30px 10px;
}

 ul  li {
  list-style: none;
  text-align: left;
  font-size: 15px;
  color: #33475B;
}

.service .row_3 .check_icon {
  background-color: #FE785A;
  color: white;
  border-radius: 10px;
  margin: 2px 20px;

}

.service .row_3 h3 {
  color: #33475B;
  font-size: 23px;
  margin-top: 30px;
}

.service .row_3 p {
  line-height: 30px;
  color: #33475B;
  margin: 50px;
  margin-top: 20px;
}

.service .row_3 hr {
  width: 75%;
  margin: auto;
}

.service .row_3 h4 {
  margin: 30px 0;
  color: #33475B;
  font-size: 18px;
}

.last_li {
  padding-bottom: 20px;
}

/* main section service */

/* main section community */
.community .row_1 {
  height: 260px;
}

.community .row_1 h2 {
  font-size: 31px;
  padding: 40px 0px;
}

.community .row_1 p {
  line-height: 30px;
}

.community .row_2 {
  height: 170px;
}

.community h4 {
  padding: 15px;
  font-size: 38px;
  font-weight: bolder;
  color: white;
}
.community h5 {
  font-weight: lighter;
}


.community .row_3 {
  height: 170px;
  padding-bottom: 100px;
}

.icon_community {
  padding-top: 20px;
}

.col_1 , .col_2 , .col_3 {
  width: 25%;
  height: 170px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.col_4 {
  width: 25%;
  height: 170px;
  border-bottom: 1px solid white;
}

.col_5 , .col_6 , .col_7 {
  width: 25%;
  height: 170px;
  border-right: 1px solid white;
}

.col_8 {
  width: 25%;
  height: 170px;
}
/* main section community */

/* main section testimonial */
.testimonial .row_1 {
  width: 1140px;
  padding: 50px 0;
}

.testimonial .row_2 {
  height: 450px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.box_Title_testimonial {
  width: 340px;
  height: 170px;
  text-align: left;
  padding-right: 120px;
}

.box_Title_testimonial h2 {
  font-size: 50px;
  color: #33475B;
  padding-bottom: 40px;
}

.box_Title_testimonial p {
  color: #33475B;
  line-height: 30px;
}

.box_icone_sponsor {
  width: 700px;
  height: 170px;
  text-align: right;
  padding-top: 20px;
  margin-left: 80px;

}

.first_row_icone , .second_row_icone{
  width: 700px;
  height: 55px;
}

.sponsor_image {
  width: 150px;
}

.col_a , .col_b , .col_c , .col_d {
  width: 25%;
  height: 65px;
}

.last_call_to_action {
  width: 40%;
}

.last_call_to_action h2 {
  font-size: 32px;
  color: #33475B;
  padding: 40px 0px;
}

.last_call_to_action p {
  line-height: 30px;
  color: #33475B;
  padding: 20px 0px;
}

.last_call_to_action h5 {
  font-weight: lighter;
  color: #33475B;
  padding: 40px 0px;
}

.women_smile {
  width: 40%;
  text-align: right;
}

#smile {
  height: 400px;
}
/* main section testimonial */

/* footer */
.foot_box {
  height: 620px;
}
/* footer */
