* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 1400px;
  font-family: sans-serif;
}

/* utility selector */
.container {
  width: 1400px;
  margin: auto;
}

header .bg_lightblue {
  background-color: #F4F9FD;
  border-bottom: 1px solid black;
}
.bg_lightblue {
  background-color: #F4F9FD;
}

.bg_white {
  background-color: white;
}

.bg_pink {
  background-color: #FDF2EE;
}

.bg_water {
  background-color: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
}

.bg_gradient {
  background-color: #47ACB7;
}

.bg_grey {
  background-color: #32495B;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

nav a {
  text-transform: capitalize;
  text-decoration: none;
  color: #32495B;
  font-size: 15px;
  font-weight: 350;
  padding: 0 10px;
  line-height: 80px;
}

nav a:hover {
  text-decoration: underline;
  color: #06A4BD;

}

nav a i {
  padding-left: 10px;
  text-align: center;
}
/* utility selector */

/* navigation */
.navbar_top {
  height: 80px;
}

.left_top_menu {
  width: 30%;
}

.right_top_menu {
  width: 70%;
  text-align: right;
}

.navbar_menu {
  height: 80px;
  position: relative;
}

.logo_nav {
width: 40%;
position: absolute;
top: 50%;
transform: translateY(-50%);
}

.nav_menu {
  width: 60%;
  text-align: right;
}

#world_icon {
  padding-right: 10px;
  padding-left: 0px;
}

#search_icon {
  color: #06A4BD;
}

.btn_border {
  color: #FE785A;
  border: 1px solid #FE785A;
  border-radius: 5px;
  padding: 10px;
  margin: 0 15px;
}

.btn_orange {
  color: white;
  background-color: #FE785A;
  border-radius: 5px;
  padding: 10px;
}

.btn_orange:hover{
  background-color: rgba(255, 0, 0, 0.5);
  text-decoration: none;
  color: white;
}
/* navigation */

/* header */
.hero_header {
  height: 610px;
}

.bottom_header {
  height: 80px;
}
/* header */

/* main section service */
.service .row_1 {
  height: 415px;
}

.service .row_2 {
  height: 322px;
}

.service .row_3 {
  height: 655px;
}

.service .col_lateral {
  width: 30%;
  height: 655px;
  margin: 50px 0;
}

.service .col_center {
  width: 30%;
  height: 655px;
  margin: 50px;
}
/* main section service */

/* main section community */
.community .row_1 {
  height: 260px;
}

.community .row_2 {
  height: 170px;
}

.community .row_3 {
  height: 170px;
  padding-bottom: 100px;
}

.col_1 , .col_2 , .col_3 {
  width: 25%;
  height: 170px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.col_4 {
  width: 25%;
  height: 170px;
  border-bottom: 1px solid white;
}

.col_5 , .col_6 , .col_7 {
  width: 25%;
  height: 170px;
  border-right: 1px solid white;
}
/* main section community */

/* main section testimonial */
.testimonial .row_1 {
  width: 860px;
  padding: 50px 0;
}

.testimonial .row_2 {
  height: 450px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.box_Title_testimonial {
  width: 340px;
  height: 270px;
  border: 1px solid black;
  display: inline-block;
}

.right_box_firstbox {
  position: relative;
  display: inline-block;
  width: 520px;
  height: 270px;
}

.box_icone_sponsor {
  width: 520px;
  height: 135px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.col_a , .col_b , .col_c , .col_d {
  width: 25%;
  height: 65px;
  border: 1px solid black;
}
/* main section testimonial */

/* footer */
.foot_box {
  height: 620px;
}
/* footer */
